@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}

.bg-green { background-color: #22c55e; }
.bg-red { background-color: #ef4444; }
.text-green { color: #16a34a; }
.text-red { color: #dc2626; }
